body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif
}

.hero {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, /*#00ffc5*/ white, #2ad4ff);
    display:flex;
    flex-direction:column;
    align-content:center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

/*
.hero div {
    margin: 0 auto;

}
*/
.span-50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: hsla(0,0%,100%,.25);
    left: 10%;
    top: 10%;
    position: absolute;
}

.span-75 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.30);
    left: 5%;
    top: 25%;
    position: absolute;
}

.span-100 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.35);
    left: 15%;
    top: 35%;
    position: absolute;
}

.span-150 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.40);
    left: 5%;
    top: 50%;
    position: absolute;
}
.span-45 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.30);
    right: 7%;
    top: 45%;
    position: absolute;
}
.span-80 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.15);
    right:10%;
    top: -5%;
    position: absolute;
}
.span-95 {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.25);
    right: 12%;
    top: 30%;
    position: absolute;
}

.span-155 {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.15);
    right: -5%;
    top: 60%;
    position: absolute;
}

.span-40 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.55);
    left: 25%;
    top: 80%;
    position: absolute;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
    margin: 20px;
    
}
.login-container img {
    margin: 30px;
}

.login-box {
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    width:300px;
    height: auto;
    border-radius: 5px;
    padding: 20px;
    font-size: 1em;
    font-weight: 200;
}

.login-box button{
    border: solid 3px white;
    background-color: #fcbf49/*#FFAA0D*/;
    color: #1a2b42;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 4px;
}
.login-box p {
    color:#8DA0BA;
    font-size: 0.90em;
    text-align:right;
}

input {
    height: 3em;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

label {
    font-size: 1.5em;
    padding: 10px;
    color:#494F59
}

.login-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #f8f8f8;
    width: 100%;
}