body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif
}

header {
    background-color: transparent;
    width: 100%;
    height: auto;
    top: 0;
    position: absolute;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.nav-inner-container{
    width: 1040px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin: 15px;
    align-items: center;
}

.nav-inner-container ul li {
    display: inline-block;
    padding: 5px;
    font-size: 1.5rem;
    color: white;
}


.hero{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #1a2b42, #3D6499,#2ad4ff);
    display:flex;
}
.span-50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: hsla(0,0%,100%,.15);
    left: 10%;
    top: 10%;
    position: fixed;
}

.span-75 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.15);
    left: 30%;
    top: 44%;
    position: fixed;
}

.span-100 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.15);
    left: 40%;
    top: 20%;
    position: fixed;
}

.span-150 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.15);
    left: 10%;
    top: 44%;
    position: fixed;
}
.span-45 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.15);
    right: 33%;
    top: 75%;
    position: fixed;
}
.span-80 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.15);
    right:10%;
    top: -5%;
    position: fixed;
}
.span-95 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.15);
    left: 10%;
    top: 44%;
    position: fixed;
}

.span-155 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:white;
    background: hsla(0,0%,100%,.15);
    left: 40%;
    top: 60%;
    position: fixed;
}